@font-face {
  font-family: 'Cascadia Code';
  src: url('/src/assets/fonts/CascadiaCode.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/src/assets/fonts/CascadiaCode-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url('/src/assets/fonts/CascadiaCode-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Add other font weights and styles if necessary */

.my-font {
  font-family: 'Cascadia Code', monospace;
}
